<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vercel dev test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <p>This project is for testing <b>vercel dev</b> with 
    a standard ionic angular project.</p><br>
    <a href="https://github.com/burggraf/ionic-vercel-local-function-testing">Github project</a>
  </div>
</ion-content>
